div#board {
  margin: auto;
  padding: 1em;
}
div#board .row {
  clear: both;
}
div#board .slot {
  height: 60px;
  width: 60px;
  float: left;
}
div#board .unplayed {
  background-color: #CCC;
  border: 1px solid #DDD;
}
div#board .player1 {
  background-color: #E66;
  border: 1px solid #C55;
}
div#board .player2 {
  background-color: #66E;
  border: 1px solid #55C;
}
